<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
  <h1>
    poe stash
  </h1>
</div>
<div class="tables">
  <div class="tables-container">
    <div class="table">
      
    <section class="example-section">
      <mat-slide-toggle
          class="toggle"
          [checked]="dataLoad"
          (change)="toggleLoad()">
        <h6 class="example-h2">load</h6>
      </mat-slide-toggle>
    </section>

      <div class="mat-elevation-z8" *ngIf="dataSource">
        <table mat-table [dataSource]="dataSource" matSort>
    
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let i = index;"> 
              <span class="column-text">{{i}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="changed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data Changed </th>
            <td mat-cell *matCellDef="let row"> 
              <span class="column-text">{{row.changed ? row.changed : 0}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="buysell">
            <th class="currency-name" mat-header-cell *matHeaderCellDef mat-sort-header> Sell->Buy </th>
            <td class="currency-name" mat-cell *matCellDef="let row">
              <div class="currency-compare">
                <div class="currency-block">
                  <span class="column-text">{{row.price.amount}}</span>
                  <img class="img" [src]="row.price.image" [alt]="row.price.currencyTypeName" />
                </div>
                -&nbsp;>
                <div>
                  <img class="img" [src]="row.tradePrice.image" [alt]="row.tradePrice.currencyTypeName" />
                  <span class="column-text">{{row.tradePrice.amount}} </span>
                </div>
              </div>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
            <td mat-cell *matCellDef="let row"> 
              <span class="column-text">{{row.stackSize}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="ign">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> IGN </th>
            <td mat-cell *matCellDef="let row"> 
              <span class="column-text ign" (click)="createMessage(row)">{{row.ign}}</span>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="profit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Profit </th>
            <td mat-cell *matCellDef="let row"> 
              <div>
                <img class="img" [src]="'https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollRare.png?scale=1&w=1&h=1'" [alt]="'Chaos Orb'" />
                <span class="column-text">{{row.profit}}</span>
              </div>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="['id', 'changed', 'buysell', 'stock', 'ign', 'profit']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'changed', 'buysell', 'stock', 'ign', 'profit'];">
        </tr>
      </table>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
